.categ figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
	width: 100%;
	height: 468px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.categ figure img {
	position: relative;
	display: block;
	height: auto;
	max-width: 100%;
	opacity: 0.8;
}

.categ figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.categ figure figcaption::before,
.categ figure figcaption::after {
	pointer-events: none;
}

.categ figure figcaption,
.categ figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.speaker figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	outline:none;

}


figure.effect-ming {
	background: #030c16;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming span img {
	padding: 11em 0;
	opacity: 0;
	margin:0 auto;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(3.5);
	transform: scale(3.5); 
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover span img {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.3;
}